**/src/.classpath
**/src/.dockerignore
**/src/.env
**/src/.git
**/src/.gitignore
**/src/.project
**/src/.settings
**/src/.toolstarget
**/src/.vs
**/src/.vscode
**/src/*.*proj.user
**/src/*.dbmdl
**/src/*.jfm
**/src/azds.yaml
**/src/bin
**/src/charts
**/src/docker-compose*
**/src/Dockerfile*
**/src/node_modules
**/src/npm-debug.log
**/src/obj
**/src/secrets.dev.yaml
**/src/values.dev.yaml
**/test/FlightsTests/obj


LICENSE
README.md